<!doctype html>
<base href="{{site.baseurl}}{{page.dir}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://ifc.juncture-digital.org/favicon.ico" rel="icon" type="image/png"/>
<style>
  *, *::before, *::after { box-sizing: border-box; }
  body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    margin: 1em;
  }
</style>
<main class="ghp">{{ content }}</main>
<script src="https://ifc.juncture-digital.org/js/index.js" type="module"></script>
